{% extends 'base.html.njk' %}

{% block title %}Form and Locker Room{% endblock title %}

{% block body %}
    <h1>Team Entry Form</h1>
    <form id="team-value" action="/">
        <label>Select your team</label>
        <br>
        <select id="team-name" name="selectPicker">
            <option value="">Please select the team that you play for</option>
            <option value="Chief">Chiefs</option>
            <option value="Raven">Ravens</option>
            <option value="Raider">Raiders</option>
            <option value="Lion">Lions</option>
        </select>
        <div class="spacer"></div>
        <button type="submit">Submit</button>
    </form>
    <header>
        <h1>Conference Championship Stadium</h1>
        <p>
            Welcome to the luxurious Conference Championship Stadium. The crowd is dying to see you play. Please make your way to your team's locker room. Good luck tonight! Oh, and be sure you pick the right locker room. Wouldn't want to get the other team riled up before the big game...
        </p>
        <p>
            Click on your team' locker room below.
        </p>
    </header>
    <div class="bluePrint">
        <table>
            <tr>
                <td class="chiefs">Chief's Locker Room</td>
                <td class="ravens">Raven's Locker Room</td>
            </tr>
            <tr>
                <td class="raiders">Raider's Locker Room</td>
                <td class="lions">Lion's Locker Room</td>
            </tr>
        </table>
    </div>
    <div id="apiText">
    
    </div>
    <script type="module" src="main-submission.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="nfl-players.js"></script>

{% endblock %}