<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFL Access Control App</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <header>
        <h1>Conference Championship Stadium</h1>
        <p>
            Welcome to the luxurious Conference Championship Stadium. The crowd is dying to see you play. Please make your way to your team's locker room. Good luck tonight! Oh, and be sure you pick the right locker room.
        </p>
        <p>
            Wouldn't want to get the other team riled up before the big game...
        </p>
        <p>
            Click on your team' locker room below.
        </p>
    </header>
    <div class="bluePrint">
        <table>
            <tr>
                <td class="chiefs">Chief's Locker Room</td>
                <td class="ravens">Raven's Locker Room</td>
            </tr>
            <tr>
                <td class="raiders">Raider's Locker Room</td>
                <td class="lions">Lion's Locker Room</td>
            </tr>
        </table>
    </div>
</body>
</html>